{{ define "main" }}
<main class="py-5 text-sm-center">
  <div class="container py-lg-5">
    <h1 class="display-1 mb-5">{{ .Title }}</h1>
    <div class="gallery row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center text-start">
      {{- range where .Site.RegularPages "Type" "blog" }}
      <article class="col">
        <div class="card shadow-sm mb-3 h-100">
          <img class="card-img-top" src="{{ .Params.image | absURL }}" alt="Post thumbnail">
          <div class="card-body">
            <h4 class="card-title">{{ .Title | markdownify }}</h4>
            <p class="card-text text-muted">{{ .Summary | markdownify }}</p>
            <a class="btn btn-primary stretched-link text-white" href="{{ .Permalink }}">
              {{- i18n "read_more" | markdownify -}}
            </a>
          </div>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</main>
{{ end }}