{{ define "main" }}
<main>
  <article class="container col-lg-6 mt-5 mb-5">
    <h1 class="mb-3">{{ .Title | markdownify }}</h1>
    <div class="byline mb-3">
      By <b>{{ .Params.author }}</b> · <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
      {{- .Date.Format (.Site.Params.dateform | default "January 2, 2006") -}}
      </time>{{- if in (.Site.BaseURL | string) "localhost" -}}
      <span class="text-muted">· {{ .WordCount }} words</span>
      {{- end -}}
    </div>
    <img class="article-image mb-4" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}