{{ define "main" }}
<main>
  <article class="container col-lg-6 mt-5 mb-5">
    <h1 class="mb-3">{{ .Title | markdownify }}</h1>
    {{- $page := . }}
    {{- with .Site.GetPage "/authors" .Params.author }}
    {{- $authorPage := . }}
    {{- with .Params.profile }}
    <div class="mb-3" itemtype="http://schema.org/Person" itemscope itemprop="author">
      {{- i18n "written_by" }} 
      <a href="{{ (relLangURL $authorPage.RelPermalink) }}" class="author" rel="author" itemprop="url">
        <span itemprop="name">{{ .display_name }}</span>
      </a>
       · 
      <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z" }}">
      {{- $page.Date.Format (.Site.Params.dateform | default "January 2, 2006") }}
       · 
      {{ i18n "reading_time" $page.ReadingTime -}}
      {{- if in ($page.Site.BaseURL | string) "localhost" }}
      <span class="text-muted"> · {{ i18n "word_count" $page }}</span>
      {{- end -}}
    </div>
    {{- end }}
    {{- else }}
      {{- with .Params.author }}
    <div itemtype="http://schema.org/Person" itemscope itemprop="author">
      <span itemprop="name">{{ . }}</span>
    </div>
      {{- end }}
    {{- end }}
    <!-- <div class="byline mb-3">
      By <b>{{ .Params.author }}</b> · <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
      {{- .Date.Format (.Site.Params.dateform | default "January 2, 2006") -}}
      </time>{{- if in (.Site.BaseURL | string) "localhost" -}}
      <span class="text-muted">· {{ i18n "word_count" . }}</span>
      {{- end -}}
    </div> -->
    <img class="article-image mb-4" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}