{{ $data := index .Site.Data .Site.Language.Lang }}
{{- if $data.homepage.about_app.enable }}
{{- with $data.homepage.about_app }}
<section id="app-details" class="py-5 text-sm-center">
  <div class="container py-lg-5">
    <h2 class="display-2 text-center mb-3">{{ .title | markdownify }}</h2>
    <div>
      {{- range $index, $element := .items }}
      <div class="row my-4 text-start align-items-center justify-content-center {{ if ne (mod $index 2) 1 }}text-md-start{{ else }}text-md-end{{ end }}">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-md-{{ if ne (mod $index 2) 1 }}0{{ else }}1{{ end }}">
          <img class="img-fluid" src="{{ .image | absURL }}" alt="">
        </div>
        <div class="col-md-8 my-3 order-md-{{ if ne (mod $index 2) 1 }}1{{ else }}0{{ end }}">
          <div class="content">
            <h4 class="display-4">{{ .title | markdownify }}</h4>
            <p class="lead text-muted my-3">{{ .content | markdownify }}</p>
            {{- if .button.enable }}
            {{- with .button }}
            <a class="btn btn-main" href="{{ .link | absURL }}">{{ .label | markdownify }}</a>
            {{- end }}
            {{- end }}
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{- end }}
{{- end }}