<section id="features" class="py-5 text-sm-center">
  <div class="container py-lg-5">
    <h2 class="display-2 mb-3">{{ .title | markdownify }}</h2>
    <div class="row align-items-center justify-content-center">
      <!-- Left side -->
      <div class="col-md-4 order-1 order-md-0">
        {{ range .left_side }}
        <div class="my-3 text-md-end">
          <i class="d-inlin-block h2 mb-2 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <!-- Center -->
      <div class="col-md-4 col-6 order-0 order-md-1">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <!-- Right side -->
      <div class="col-md-4 order-2">
        {{ range .right_side }}
        <div class="my-3 text-md-start">
          <i class="d-inlin-block h2 mb-2 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>