<section class="bg-accent section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center mb-5 mb-md-0">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-8 align-self-center text-center text-md-start">
        <div class="content">
          <h3 class="subheading text-white font-weight-bold mb-10">{{ .Title | markdownify }}</h3>
          <p class="text-white">{{ .Content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>