{{ define "main" }}

  {{- partial "banner.html" . }}

  {{ $data := index .Site.Data .Site.Language.Lang }}

  {{- if $data.homepage.features.enable }}
    {{- with $data.homepage.features }}
      {{- partial "features.html" . }}
    {{- end }}
  {{- end }}

  {{ if $data.homepage.promo.enable }}
    {{ with $data.homepage.promo }}
      {{- partial "promo.html" . }}
    {{- end }}
  {{- end }}

  {{- partial "about-app.html" . }}

  {{- partial "apps.html" . }}

  {{- partial "subscription.html" . }}

  {{- partial "testimonials.html" . }}

{{ end }}